scheduler:
  song_title:
    filename: ./title

news:
  show_id: 2EaVmyxrGQv0au2jjHki5v

spotify:
  client_id: huts
  client_secret: a niffau

database:
  connection_string: root:@tcp(localhost:3306)/radio
